<div class="text-center">
  <div class="container">
    <form class="form-control">
      <div class="container login-form">
        <h3 class="h4">Login do Cliente</h3>
      </div>
      <label for="inputEmail" class="sr-only">Email</label>
      <input class="form-control" type="email" id="inputEmail"
             name="email" placeholder="Informe o seu email" />

      <label for="inputEmail" class="sr-only">Senha</label>
      <input class="form-control" type="password" id="inputSenha"
             name="Senha" placeholder="Informe a sua senha" />

      <button class="btn btn-primary btn-block login-btn" type="submit">Entrar!</button>
      {{  }}
    </form>
  </div>
</div>
